In [1]:
import numpy as np
import pandas as pd
import json
import random

In [2]:
df = pd.read_json('wiki_squad_00-mc.json')

In [3]:
df.head()

                                                data  version
0  {'title': 'Anarchism', 'paragraphs': [{'contex...        1
1  {'title': 'Autism', 'paragraphs': [{'context':...        1
2  {'title': 'Albedo', 'paragraphs': [{'context':...        1
3  {'title': 'A', 'paragraphs': [{'context': 'A (...        1
4  {'title': 'Alabama', 'paragraphs': [{'context'...        1

In [20]:
df['data'][0]['paragraphs'][9]['qas'][0]['distractors']

['1953', '1947', 'in 1945']

In [7]:
df.data[0]['paragraphs'][0]['qas'] == []

True

In [29]:
qs = {}
for p in range(0, len(df['data'].iloc[0]['paragraphs'])):
    if df['data'].iloc[0]['paragraphs'][p]['qas'] != []:
        for q in range(0, len(df['data'].iloc[0]['paragraphs'][p]['qas'])):
            qs[df['data'].iloc[0]['paragraphs'][p]['qas'][q]['id']] = df['data'].iloc[0]['paragraphs'][p]['qas'][q]['question']

In [31]:
len(qs)

21

In [33]:
random.sample(list(qs.keys()), 5)

['(0, 59, 1)', '(0, 45, 2)', '(0, 12, 6)', '(0, 13, 2)', '(0, 26, 1)']

In [37]:
b = [1, 2]
a = [3, 4]

In [38]:
a + b

[3, 4, 1, 2]